.main{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
}
.balance{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:0.6rem;
    height: 3rem;
}
.bottom{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.budget-percentages ul li{
    list-style: none;
}
.budget-percentages{
    padding:1rem;
    border: 1px solid ;
    width: 9rem;
    margin-top: 1rem;
    border-radius: 0.6rem;
}