.main{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
}
.expenses-results{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:0.6rem;
    height: 3rem;
}
.bottom{
    display: flex;
    gap: 1.5rem;
}
.expenses-inputs,.expenses{
    flex: 50%;
}
form input{
    display: block;
    margin: 0.9rem 0rem;
    border-radius: 0.6rem;
    border:solid 3px white;
    padding: 0.3rem 2rem;
    background: none;
    color:rgb(163, 160, 160);
}
form input::placeholder{
    color:gray;
}
form input :focus{
    border:solid 3px rgb(251, 251, 251);
    background-color: aliceblue;
}
button{
    cursor: pointer;
}
.expenses{
    background-color:  #f3eeee;
    
}
/* Style for each expense list item */
.title-expenses {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    background-color: white;
  }
  
  /* Style for the list of expenses */
  .expenses ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  